.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.full-cover{
  /* background-color:white; */
  background-color: #0C0F0A;
  min-width: 100vw;
  min-height: 100vh;
  padding:0 !important;
  /* margin-top: -75px; */
}

.header-background{
  background-color: transparent;
  height:0px;
  /* margin-top: 75px; */
  /* margin-top: -75px; */
}


.gold-trim{
  border: 2px solid #D4AF37;
}


/* test starts here */


.main {
  padding: 0, 5px;
  /* position: absolute; */
  /* top: calc(50% - 150px);
  left: calc(50% - 150px); */
  width: 100%;
  height: 100%;
  /* border-radius: 12px; */
  /* box-shadow:
  0 0 0.2rem #fff,
  0px 0 0.2rem #d344ff,
    inset 0 0 50px #fff,
    inset 0px 0 7px #d344ff,
    inset 0px 0 21px #d344ff,
    inset 0px 0 32px #d344ff,
    inset 0px 0 46px #d344ff; */
  box-shadow:0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 0.2rem #fff,
    /* inset 0 0 0.2rem #fff, */
    inset 0 0 1.3rem #bc13fe,
    inset 0 0 0.8rem #bc13fe,
    inset 0 0 2.8rem #bc13fe; 
    /* overflow: hidden; */
}

.outer {
overflow-y:visible;
overflow-x:hidden;
height:100%;
width:100%;
/* border-radius: 12px; */
}


/* test ends */

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #1b1b1b;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideNavButton{
  font-size: 50px;
  color: white
}

.inner-divs{
  
  background-color: black;
  width:95%;
  height: 95%;
}

.parent-width{
  min-width: 100%;
}


.main-title{
  color: beige;
  font-family: "Yellowtail", sans-serif;
  text-shadow: 
  0 0 4px pink,
  0 0 8px pink,
  0 0 16px #ff4470,
  0 0 32px #ff4470, 
  0 0 64px #ff4470, 
  0 0 150px #ff4470;

}

/* .main-title{
  color: beige;
  font-family: "Yellowtail", sans-serif;
  text-shadow: 
  0 0 4px red,
  0 0 8px red,
  0 0 16px #ff4470,
  0 0 32px #ff4470, 
  0 0 64px #ff4470, 
  0 0 150px #ff4470;

} */

.job-title{
  color: white;
  font-family: "Yellowtail", sans-serif;
  font-size: 60px;
  text-shadow: none;
  /* 0 0 4px #fff,
  0 0 8px #fff,
  0 0 16px #f36bff,
  0 0 32px #f36bff, 
  0 0 64px #f36bff, 
  0 0 150px #f36bff; */

}

.main-text{
  font-size: 80px;
  /* font-family: "Yellowtail", sans-serif; */
  font-weight:900;

}

.solid-font{
  /* font-family: 'Noto Serif', serif; */
  /* font-family: "Brushed", sans-serif; */
  /* font-family: 'Sedgwick Ave', cursive; */
  font-family: 'Poiret One', cursive;
  font-weight: 900;
}





/* flicker test */
@keyframes flicker {
  0%, 2%, 4%, 6%, 100% {
    text-shadow:
    0 0 4px #fff,
    0 0 8px #fff,
    0 0 16px #f36bff,
    0 0 32px #f36bff, 
    0 0 64px #f36bff,
    0 0 150px #f36bff;
  }
  1%, 3%, 5%{       
    text-shadow: none;
    /* color:transparent; */
  }
}

.job-title {
  animation: flicker 2s infinite linear alternate;    
}
/* flicker test end */



.sized{
  width:240px;
  height:200px;
  /* border-radius: 75%; */
  box-shadow:0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 0.2rem #fff,
  /* inset 0 0 0.2rem #fff, */
  inset 0 0 1.3rem #bc13fe,
  inset 0 0 0.8rem #bc13fe,
  inset 0 0 2.8rem #bc13fe; 
  /* overflow: hidden; */
}


/* Recent project style */
#wafea{
  /* background-image: url("/public/projects/laptop-outline.png"); */
  background-repeat: no-repeat;
  background-size:contain;
  width:100%;
  padding-top:60%
}
.outer-div:hover{
  cursor: pointer;
}

.wrapper-div:hover{
  z-index:1
}
.outer-div:hover div {
	-webkit-animation: slide-rotate-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
	        animation: slide-rotate-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940)  both;
}
/* .outer-div div {
	-webkit-animation: slide-rotate-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
	        animation: slide-rotate-hor-bottom 2s cubic-bezier(0.250, 0.460, 0.450, 0.940) reverse both;
} */


@-webkit-keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(150px) rotateX(30deg);
            transform: translateY(150px) rotateX(30deg);
  }
}
@keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(20px) rotateX(30deg);
            transform: translateY(20px) rotateX(30deg);
  }
}


@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  10% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}
img{
  z-index: -1;
}

/* .picture-container{
  width:100%;
  padding-top:30%;
} */

.picture-container img{
  width:100%;
/* height:400px; */
}



.inner-image:hover {
-webkit-transform: translateY(20px) rotateX(60deg);
transform: translateY(20px) rotateX(60deg);
transition-timing-function: ease-in-out;
transition:transform 1s;
z-index: -1;
}


.inner-image {
  -webkit-transform: translateY(0px) rotateX(0deg);
  transform: translateY(0px) rotateX(0deg);
  transform-origin: 30deg 0% 30deg ;
  transition-timing-function: ease-in-out;
  transition:transform 1s;
  z-index: 9000;
  height:500px !important;
  width:100% !important;
}

@-webkit-keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(150px) rotateX(30deg);
            transform: translateY(150px) rotateX(30deg);
  }
}
@keyframes slide-rotate-hor-bottom {
  0% {
    -webkit-transform: translateY(0) rotateX(0deg);
            transform: translateY(0) rotateX(0deg);
  }
  100% {
    -webkit-transform: translateY(20px) rotateX(30deg);
            transform: translateY(20px) rotateX(30deg);
  }
}

/* .shadow-div::after{
   content:"";
    position: absolute;
    width:100%;
    height:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width:100%;
  border-top: -40px;

} */

.shadow-div{
  -webkit-transform: translateY(0px) rotateX(0deg);
  transform: translateY(0px) rotateX(0deg);
  transform-origin: 30deg 0% 20deg;
  transition-timing-function: ease-in-out;
  transition: 1s transform;
  opacity: 1;
  width:100%;
  border-top: -40px;
}

.shadow-div:hover{
  -webkit-transform: translateY(20px) rotateX(50deg);
  transform: translateY(90px) rotateX(45deg);
  transition-timing-function: ease-in-out;
  background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%, rgba(0,0,0,0) 85%, rgba(0,0,0,1) 100%);
  /* transition:1s transform, 1s background; */
  width:100%;
  cursor: pointer; 
  opacity: 0.7;
}




  .cover1{
    position:absolute;
    top: 0px;
    bottom:0px;
    left:0px;
    right:0px;
    width:100%;
    height:100%;
    z-index:90000000000000000000;
  }
  .cover1:after{
    position:absolute;
    content:"";
  }
  
  .cover1:hover~.wrapper1:hover{
    cursor:pointer;
  }

.outer-image{
  position:relative;
  width:100%;
}
/* recent project style end */


p.highlighted{
  font-weight:bold;
}

.unstyled:hover{
  cursor:pointer;
  text-decoration: none;
  color: pink;
  text-shadow: 
  0 0 4px pink,
  0 0 8px pink,
  0 0 16px #ff4470,
  0 0 32px #ff4470, 
  0 0 64px #ff4470, 
  0 0 150px #ff4470;
  transition: color 1.5s, text-shadow 1s;

}

.unstyled{
  text-decoration: none;
  color:white;
  transition: color 1.5s, text-shadow 1s;

}


/* About me section */

.main-2 {
  padding: 0, 5px;

  width: 100%;
  height: 100%;
  box-shadow:0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #132bfe,
    0 0 0.8rem #132bfe,
    0 0 2.8rem #132bfe,
    inset 0 0 0.2rem #fff,
    /* inset 0 0 0.2rem #fff, */
    inset 0 0 1.3rem #132bfe,
    inset 0 0 0.8rem #132bfe,
    inset 0 0 2.8rem #132bfe; 
    /* overflow: hidden; */
}
/* About me section end */



p{
  font-size: large;
}

.c-glow {
  padding: 0, 5px;
  /* position: absolute; */
  /* top: calc(50% - 150px);
  left: calc(50% - 150px); */
  width: 100%;
  height: 100%;
  /* border-radius: 12px; */
  /* box-shadow:
  0 0 0.2rem #fff,
  0px 0 0.2rem #d344ff,
    inset 0 0 50px #fff,
    inset 0px 0 7px #d344ff,
    inset 0px 0 21px #d344ff,
    inset 0px 0 32px #d344ff,
    inset 0px 0 46px #d344ff; */
  box-shadow:0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #fff,
    /* 0 0 0.8rem #fff,
    0 0 2.8rem #fff, */
    inset 0 0 0.2rem #fff;
}

.cian-self{
  width:300px;
  height:300px;
  /* height:100%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 700px) {
  .cian-self {
    width:200px;
    height:200px;
  }
}
@media only screen and (max-width: 600px) {
  .cian-self {
    width:150px;
    height:150px;
  }
}

.boldened{
  font-weight: 900;
}




/* Contact section */
.main-3 {
  padding: 0, 5px;

  width: 100%;
  height: 100%;
  box-shadow:0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #470097,
    0 0 0.8rem #470097,
    0 0 2.8rem #470097,
    inset 0 0 0.2rem #fff,
    /* inset 0 0 0.2rem #fff, */
    inset 0 0 1.3rem #470097,
    inset 0 0 0.8rem #470097,
    inset 0 0 2.8rem #470097; 
    /* overflow: hidden; */
}
/* Contact section end */

.email{
  font-size:1rem
}



.project-device-img{
  position:absolute;
  width:100%;
  top: 0px;
  bottom:0px;
  left:0px;
  right:0px;
}
.project-device-img:hover{
  z-index:300000000000000;
  position:absolute;
  top: 0px;
  bottom:0px;
  left:0px;
  right:0px;

}
/* .outer-image:hover{
 cursor: move !important;
 z-index:1000000000000001111 !important;
} */

.outer-image:hover ~img:hover{
 cursor:pointer !important;
 /* z-index:1000000000000000; */
}




/* Must be at end */

.open{
  width: 20%;
}

@media only screen and (max-width: 700px) {
  .open {
    width:25%;
  }
}
@media only screen and (max-width: 350px) {
  .open {
    width:30%;
  }
}
.closed{
  width: 0%;
}


