.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.full-cover{
  /* background-color:white; */
  background-color: #0C0F0A;
  min-width: 100vw;
  min-height: 100vh;
  padding:0 !important;
  /* margin-top: -75px; */
}

.header-background{
  background-color: transparent;
  height:0px;
  position: absolute;
  top:0px;
  left:10px
  /* margin-top: 75px; */
  /* margin-top: -75px; */
}



/* test starts here */


.main {
  padding: 0, 5px;
  /* position: absolute; */
  /* top: calc(50% - 150px);
  left: calc(50% - 150px); */
  width: 100%;
  height: 100%;
  box-shadow:0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #bc13fe,
    0 0 0.8rem #bc13fe,
    0 0 2.8rem #bc13fe,
    inset 0 0 0.2rem #fff,
    /* inset 0 0 0.2rem #fff, */
    inset 0 0 1.3rem #bc13fe,
    inset 0 0 0.8rem #bc13fe,
    inset 0 0 2.8rem #bc13fe; 
    /* overflow: hidden; */
}

.outer {
overflow-y:visible;
overflow-x:hidden;
height:100%;
width:100%;
/* border-radius: 12px; */
}


/* test ends */

.sidenav {
  height: 100%;
  width: 25%;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  background-color: #1b1b1b;
  transition: 0.5s ease;
  overflow-x: hidden;
  padding-top: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sideNavButton{
  font-size: 50px;
  color: white;
}

.inner-divs{
  
  background-color: black;
  width:95%;
  height: 95%;
}

.parent-width{
  min-width: 100%;
}


.main-title{
  color: beige;
  font-family: "Yellowtail", sans-serif;
  text-shadow: 
  0 0 4px pink,
  0 0 8px pink,
  0 0 16px #ff4470,
  0 0 32px #ff4470, 
  0 0 64px #ff4470, 
  0 0 150px #ff4470;

}

.job-title{
  color: white;
  font-family: "Yellowtail", sans-serif;
  font-size: 60px;
  text-shadow: none;
  /* 0 0 4px #fff,
  0 0 8px #fff,
  0 0 16px #f36bff,
  0 0 32px #f36bff, 
  0 0 64px #f36bff, 
  0 0 150px #f36bff; */

}

.main-text{
  font-size: 80px;
  /* font-family: "Yellowtail", sans-serif; */
  font-weight:900;

}

.solid-font{
  /* font-family: 'Noto Serif', serif; */
  /* font-family: "Brushed", sans-serif; */
  /* font-family: 'Sedgwick Ave', cursive; */
  font-family: 'Poiret One', cursive;
  font-weight: 900;
}





/* flicker test */
@keyframes flicker {
  0%, 2%, 4%, 6%, 100% {
    text-shadow:
    0 0 4px #fff,
    0 0 8px #fff,
    0 0 16px #f36bff,
    0 0 32px #f36bff, 
    0 0 64px #f36bff,
    0 0 150px #f36bff;
  }
  1%, 3%, 5%{       
    text-shadow: none;
    /* color:transparent; */
  }
}

.job-title {
  animation: flicker 2s infinite linear alternate;    
}
/* flicker test end */

.sized{
  width:240px;
  height:200px;
  /* border-radius: 75%; */
  box-shadow:0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #bc13fe,
  0 0 0.8rem #bc13fe,
  0 0 2.8rem #bc13fe,
  inset 0 0 0.2rem #fff,
  /* inset 0 0 0.2rem #fff, */
  inset 0 0 1.3rem #bc13fe,
  inset 0 0 0.8rem #bc13fe,
  inset 0 0 2.8rem #bc13fe; 
  /* overflow: hidden; */
}


/* Recent project style */

.OFSD{
  overflow:visible;
  width:100%;
  position:relative;
  display:flex;
  align-items: center;
  justify-content: center;
}

.OFSD>*{
  margin: 0;
  width: 100%;
  height: auto;
  position: absolute;
  bottom:0;
}

:root {
  --jpg-height:350px;
  --jpg-width: 300px;
  --logo-font: 60px
}

@media only screen and (max-width: 350px) {
  :root {
    --jpg-height:250px;
    --jpg-width: 200px;
    --logo-font: 60px
  }
}

.SWSH{
  width:var(--jpg-width);
  height:var(--jpg-height);
}




.SWSH:hover .BIIJPG{
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}
.SWSH:hover .BIIJPG.weather-at{
  box-shadow: 
  0 0 20px #13bbfea4,
  0 0 100px #134afe9c;
}
.SWSH:hover .BIIJPG.linkedin-clone{
  box-shadow: 
  0 0 20px #ffffffa4,
  0 0 100px #f5f5f59c;
}
.SWSH:hover .BIIJPG.odyssey-vtt{
  box-shadow: 
  0 0 20px #3ad9ff,
  0 0 100px #1b9ebd;
}
.SWSH:hover .SOTD{
  opacity: 1;
  transform: perspective(900px) translateY(-5%) rotateX(25deg);
}
.SWSH:hover .PTJPG::before{
  opacity: 1;
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
}
.SWSH:hover .BIFTF{
  opacity: 1;
  transform: translate3d(-50%,-25%,0)
}
.SWSH:hover .image-text{
  transform: translate3d(-50%,110px,0);
}
.SWSH:hover .image-text-odyssey-left{
  transform: translate3d(-70%,110px,0);
}
.SWSH:hover .image-text-odyssey-right{
  transform: translate3d(120%,110px,0);
}
.SWSH:hover .sword{
  transform: translate3d(150%,80px,0);
}

.SWSH:hover .icon-link{
  transform: translate3d(0,-18px,0);
}
.SWSH:hover .icon-link{
  transform: translate3d(0,-18px,0);
}
.SWSH:hover .image-text-linkedin-bottom{
  transform: translateY(-10px) translateX(calc(var(--jpg-width)/4));
  font-size: calc(var(--logo-font)/2);
}
.SWSH:hover .image-text-linkedin-top{
  transform: translateY(280px) translateX(-150px);
}

.PTJPG{
  perspective: 900px;
  display: inline-block;
  width: 100%;
  height: 100%;
}
.PTJPG::before{
  content: "";
  box-shadow: 0 20px 20px 0 #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: opacity .4s ease,transform .4s ease;
  transform: perspective(900px) translateY(0) rotateX(0deg) translateZ(0);
  opacity: 0;
}

.BIIJPG{
  transition: transform .4s ease;
  transform: perspective(900px) rotateX(0deg) translateZ(0);
  width: 100%;
  height: 100%;
  /* padding-left: 25%; */
  object-fit: cover;
  object-fit: cover;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  /* -webkit-clip-path: polygon(0 0,100% 0,100% calc(100% - var(--chopped-size)),calc(100% - var(--chopped-size)) 100%,0 100%);
  clip-path: polygon(0 0,100% 0,100% calc(100% - var(--chopped-size)),calc(100% - var(--chopped-size)) 100%,0 100%); */
}

img{
  vertical-align: middle;
}


.SOTD{
  background: linear-gradient(180deg,#000 2.5%,transparent 66%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity .4s ease,transform .4s ease;
  transform: perspective(900px) translateY(0) rotateX(0deg);
}


.BIFTF{
  position: absolute;
  transform: translate3d(-50%,-10%,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .4s ease,opacity .4s ease;
  left: 50%;
  bottom: -20px;
  opacity: 0;
  width: 100%;
}
.BIFTF.weather{
  bottom:10px;
}

.image-text{
  position: absolute;
  transform: translate3d(-50%,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .4s ease;
  left: 50%;
  bottom: 40%;
  max-width: 80%;
  font-family: 'Lobster', cursive;
  font-size: var(--logo-font);
  font-weight:bold;
}
.image-text-odyssey-left{
  position: absolute;
  transform: translate3d(-80%,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .4s ease;
  left: 50%;
  bottom: 40%;
  max-width: 80%;
  font-family: 'Lobster', cursive;
  font-size: var(--logo-font);
  font-weight:bold;
  font-family: 'Pirata One', cursive;
}
.image-text-odyssey-right{
  position: absolute;
  transform: translate3d(80%,-10%,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .4s ease;
  left: 50%;
  bottom: 40%;
  max-width: 80%;
  font-family: 'Lobster', cursive;
  font-size: calc(var(--logo-font)/2);
  font-weight:bold;
}
.sword{
  position: absolute;
  transform: translate3d(80%,-85%,0) rotate(-60deg);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .4s ease;
  left: 50%;
  bottom: 40%;
  max-width: 80%;
}

.image-text-linkedin-top{
  color: black;
  position: absolute;
  transform: translate3d(-50%,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .4s ease;
  left: 50%;
  bottom: 80%;
  max-width: 80%;
  font-family: 'PT Sans', sans-serif;
  font-size: var(--logo-font);
  font-weight:bold;
}
.image-text-linkedin-bottom{
  color: black;
  position: absolute;
  transform: translate3d(-50%,0,0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: transform .4s ease;
  left: 50%;
  bottom: 0%;
  max-width: 80%;
  font-family: 'PT Sans', sans-serif;
  font-size: var(--logo-font);
  font-weight:bold;
}


.site-link{
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /* color: var(--white);
  font-size: var(--cta-font-size); */
  font-weight: 500;
  line-height: 1em;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /* padding: var(--cta-padding); */
  transform: translateZ(0);
  transition: transform .4s ease;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.relative-wrapper{
  position: relative;
  width: 100%;
  height: var(--jpg-height);
  display:flex;
  justify-content: center;
}


.weather-logo{
  font-family: 'Lobster', cursive;
  font-size: 24px;
}
/* recent project style end */


p.highlighted{
  font-weight:bold;
}

.unstyled:hover{
  cursor:pointer;
  text-decoration: none;
  color: pink;
  text-shadow: 
  0 0 4px pink,
  0 0 8px pink,
  0 0 16px #ff4470,
  0 0 32px #ff4470, 
  0 0 64px #ff4470, 
  0 0 150px #ff4470;
  transition: color 1.5s, text-shadow 1s;

}

.unstyled{
  text-decoration: none;
  color:white;
  transition: color 1.5s, text-shadow 1s;

}


/* About me section */

.main-2 {
  padding: 0, 5px;

  width: 100%;
  height: 100%;
  box-shadow:0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #132bfe,
    0 0 0.8rem #132bfe,
    0 0 2.8rem #132bfe,
    inset 0 0 0.2rem #fff,
    /* inset 0 0 0.2rem #fff, */
    inset 0 0 1.3rem #132bfe,
    inset 0 0 0.8rem #132bfe,
    inset 0 0 2.8rem #132bfe; 
    /* overflow: hidden; */
}
/* About me section end */



p{
  font-size: large;
}

.c-glow {
  padding: 0, 5px;
  /* position: absolute; */
  /* top: calc(50% - 150px);
  left: calc(50% - 150px); */
  width: 100%;
  height: 100%;
  /* border-radius: 12px; */
  /* box-shadow:
  0 0 0.2rem #fff,
  0px 0 0.2rem #d344ff,
    inset 0 0 50px #fff,
    inset 0px 0 7px #d344ff,
    inset 0px 0 21px #d344ff,
    inset 0px 0 32px #d344ff,
    inset 0px 0 46px #d344ff; */
  box-shadow:0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #fff,
    /* 0 0 0.8rem #fff,
    0 0 2.8rem #fff, */
    inset 0 0 0.2rem #fff;
}

.cian-self{
  width:300px;
  height:300px;
  /* height:100%; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 700px) {
  .cian-self {
    width:200px;
    height:200px;
  }
}
@media only screen and (max-width: 600px) {
  .cian-self {
    width:150px;
    height:150px;
  }
}

.boldened{
  font-weight: 900;
}




/* Contact section */
.main-3 {
  padding: 0, 5px;

  width: 100%;
  height: 100%;
  box-shadow:0 0 .2rem #fff,
    0 0 .2rem #fff,
    0 0 2rem #470097,
    0 0 0.8rem #470097,
    0 0 2.8rem #470097,
    inset 0 0 0.2rem #fff,
    /* inset 0 0 0.2rem #fff, */
    inset 0 0 1.3rem #470097,
    inset 0 0 0.8rem #470097,
    inset 0 0 2.8rem #470097; 
    /* overflow: hidden; */
}
/* Contact section end */

.email{
  font-size:1rem
}



/* Must be at end */

.open{
  width: 20%;
}

@media only screen and (max-width: 700px) {
  .open {
    width:25%;
  }
}
@media only screen and (max-width: 350px) {
  .open {
    width:30%;
  }
}
.closed{
  width: 0%;
}

.n-button{
  width:8rem;
  height:3rem;

  background-color: transparent;
  box-shadow:0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #470097,
  0 0 0.8rem #470097,
  0 0 2.8rem #470097,
  inset 0 0 0.2rem #fff,
  inset 0 0 1.3rem #470097,
  inset 0 0 0.8rem #470097,
  inset 0 0 2.8rem #470097; 
  overflow: visible;
  border: none;
  transition: box-shadow 1s;
}


.n-button:hover {
  box-shadow:0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #470097,
  0 0 0.8rem #470097,
  0 0 2.8rem #470097,
  inset 0 0 0.2rem #fff,
  inset 0 0 1.3rem #6300d4,
  inset 0 0 0.8rem #6300d4,
  inset 0 0 2.8rem #6300d4,
  inset 0 0 5rem #6300d4; 
  transition: box-shadow 1s;
  cursor:pointer;

}
.n-button:hover .n-button-text{
  color:#0C0F0A;
  text-shadow:none;
  transition: text-shadow 1s ease-in-out, color 1s;
}

.n-button-text{
  color:white;
  height:100%;
  font-size: calc(100%/.5);
  background-color: transparent;
  text-shadow:0 0 .2rem #fff,
  0 0 .2rem #fff,
  0 0 2rem #470097,
  0 0 0.8rem #470097,
  0 0 2.8rem #470097;
  overflow: visible;
  transition: text-shadow 1s, color 1s;
}


.p-height{
  height:100%;
}


/* newton cradle Loader START*/


#cradleContainer {
  z-index: 99999;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  position: absolute;
  top: 0;
  left: 0;
  transition: display 3s;
  opacity: 1;
}
#cradleContainer.false{
  transition: opacity 1s;
  opacity: 0;
  /* display:none; */
}
#cradleContainer.none{
  display:none;
}
#loader-5{
  display: flex;
  /* justify-content: space-around; */
}

#loader-5 > span {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 0 4px;
    background: black;
    border-radius: 0px;
    z-index: 99999;
}
#loader-5 span:nth-child(1) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 0.1s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
#loader-5 span:nth-child(2) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 0.2s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
#loader-5 span:nth-child(3) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 0.3s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
#loader-5 span:nth-child(4) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 0.4s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
#loader-5 span:nth-child(5) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 0.5s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
#loader-5 span:nth-child(6) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 0.6s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
#loader-5 span:nth-child(7) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 0.7s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
#loader-5 span:nth-child(8) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 0.8s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
#loader-5 span:nth-child(9) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 0.9s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
#loader-5 span:nth-child(10) {
  transform-origin: 50% 0%;
  animation: rotateZ 2s 1s infinite cubic-bezier(.62,-0.21,.42,.95);
  width: calc(15px/6);
  height: calc(15px*2);
  margin: calc(0/6);
}
@keyframes rotateZ {
  0% {
    transform: rotateZ(-20deg);
  }
  50% {
    transform: rotateZ(20deg) scaleY(1.2);
    background: black;
    /* background: #6bd6c8; */
  }
  100% {
    transform: rotateZ(-20deg);
  }
}
/* newton cradle Loader END */